---
import Layout from "../layouts/Layout.astro";
---

<Layout title="hello this is my web site :)">
  <h1>this page is under construction</h1>
  <a href="https://github.com/PartyWumpus">my github account</a>
</Layout>
