---
import Layout from "../layouts/Layout.astro";
import Card, {
  type Props as ProjectProps,
} from "../components/ProjectCard.astro";
const inProgress: ProjectProps[] = [
  {
    href: "https://github.com/PartyWumpus/website",
    title: "Portfolio site",
    body: "A portfolio site with info on me (you are here)",
    tags: ["typescript", "astro"],
  },
  {
    href: "https://github.com/PartyWumpus/advent-of-code",
    title: "Advent of Code",
    body: "My advent of code attempts",
    tags: ["rust", "python"],
  },
  {
    href: "https://github.com/PartyWumpus/dotfiles",
    title: "Nixos config",
    body: "My (bad) nixos config, please don't send me hatemail :)",
    tags: ["nix"],
  },
  {
    href: "https://github.com/SteamDeckHomebrew/decky-loader",
    title: "Decky Loader",
    body: "A plugin loader for the steam deck (as a maintainer/contributor)",
    tags: ["python", "typescript"],
  },
  {
    href: "https://github.com/PartyWumpus/C-to-befunge93",
    title: "A C to befunge93 compiler",
    body: "A C compiler that outputs befunge programs.",
    tags: ["rust", "c", "befunge"],
  },
  {
    href: "https://github.com/PartyWumpus/typst-concealer",
    title: "Typst Concealer",
    body: "A neovim plugin which renders typst (like LaTeX) inline in .typ files. Also has live previews.",
    tags: ["lua", "typst", "neovim"],
  },
  {
    href: "https://github.com/PartyWumpus/befunge-editor",
    title: "A Befunge Editor",
    body: "A befunge editor and interpreter inspired by BefunExec",
    tags: ["rust", "egui", "befunge"],
  },
];

const done: ProjectProps[] = [
  {
    href: "https://github.com/PartyWumpus/bf16-compiler",
    title: "BF16 Compiler",
    body: "rewrite of bf16 (visual brainfuck runtime) as a LLVM-based compiler",
    tags: ["rust", "llvm"],
    date: "January 2025",
  },
  {
    href: "https://github.com/PartyWumpus/BBCMicrobitBattleship",
    title: "BBCMicrobit Battleship",
    body: "A quick 2 device battleship game using a small display and radio",
    tags: ["micropython"],
    date: "January 2025",
  },
  {
    href: "https://github.com/PartyWumpus/RBeJ",
    title: "RBeJ",
    body: "An optimizing JIT compiler for befunge (a popular self-modifying 2D esolang)",
    tags: ["rust", "llvm", "befunge"],
    date: "November 2024",
  },
  {
    href: "https://github.com/PartyWumpus/befreak-interpreter",
    title: "An interactive befreak interpreter",
    body: "An interactive GUI interpreter for a 2D toy language from 2003",
    tags: ["rust", "egui"],
    date: "June 2024",
  },
  {
    href: "https://github.com/PartyWumpus/befreak-compiler",
    title: "A befreak compiler",
    body: "An LLVM frontend for a 2D toy language from 2003",
    tags: ["rust", "llvm"],
    date: "June 2024",
  },
  {
    href: "https://github.com/PartyWumpus/logic-gate-project",
    title: "Simple Logic Gate GUI",
    body: "A simple logic gate system with undo/redo and component nesting. Was my A-level project.",
    tags: ["typescript", "react"],
    date: "December 2023",
  },
  {
    href: "https://github.com/PartyWumpus/EXA-doom",
    title: "EXA Doom",
    body: "A simple '3D' raycasting game built in Zachtronic's last call BBS",
    tags: ["javascript"],
    date: "July 2022",
  },
  {
    href: "https://github.com/PartyWumpus?tab=repositories&q=&type=source",
    title: "Various small projects",
    body: "A handful of smaller projects can be seen on my github profile",
  },
];
---

<Layout title="Projects">
  <h2>Current Projects</h2>
  {inProgress.map((post) => <Card {...post} />)}
  <h2>Finished Projects</h2>
  {done.map((post) => <Card {...post} />)}
</Layout>
