---

---

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:link,
  .nav-links a:visited {
    color: rgba(var(--accent));
  }

  .nav-links a:hover,
  .nav-links a:focus {
    color: rgba(var(--accent-light));
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }

  .icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }

  .icon > img {
    width: 2em;
    height: 2em;
  }
</style>
<div class="icon">
  <a href="https://github.com/PartyWumpus/website">(source)</a>
  <img src="/pfp.png" alt="PartyWumpus's pfp" />
</div>
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/projects/">Projects</a>
  <a href="/aboutme">About Me</a>
  <a href="/blog/">Blog</a>
</div>
