---
interface Props {
  title?: string;
  description?: string;
}

import Navbar from "../components/Nav.astro";
const title = Astro.props.title;
const description =
  Astro.props.description ??
  "PartyWumpus' personal website, has info about me and my projects :3";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title ?? "party wumpus website"}</title>
    <meta property="og:title" content={title ?? "Party Wumpus webby site :3"} />
  </head>
  <body style="margin:0">
    <Navbar />
    <main>
      {title === undefined ? null : <h1 class="site-title">{title}</h1>}
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    font-size: 20px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    margin: auto;
    margin-top: 0;
    padding: 0.6em;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }

  @media screen and (min-width: 1250px) {
    main {
      width: 1200px;
    }
    html {
      font-size: 30px;
    }
  }
</style>
